.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgba(29, 23, 23, 0.797);
    padding: 25px 15px;
}
.sidebar img{
    width: 20px;
    
}
.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
    
}
.sidebar .menu:hover{
    transform: scale(1.1);
}
.sidebar .new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #000307;
    border-radius: 50px;
    font-size: 14px;
    color: rgb(39, 13, 107);
    cursor: pointer;
}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}
.sidebar .recent-title{
    margin-bottom: 20px;
    margin-top: 30px;
    color: rgb(39, 13, 107);
}
.sidebar .recent-entry{
display: flex;
align-items: start;
gap: 10px;
padding: 10px;
padding-right: 40px;
border-radius: 50px;
color: rgb(39, 13, 107);
cursor: pointer;
}
.sidebar .recent-entry:hover {
    background-color: #e2e6eb;
}
.sidebar .bottom{
    display: flex;
    flex-direction: column;

}
.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .sidebar {
        display: none;
    }

}